.main {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding-top: 10px;
  margin: 0 auto;
  font-size: 16px;
}
.main input[type="text"] {
  font-size: inherit;
  text-transform: lowercase;
}
.main li{
  list-style: none;
}
.list_container {
  margin-top: 3em;
  background: rgb(32, 32, 32);
}
.search_container {
  position: absolute;
}
.search_container label {
  color: gray;
}
.search_container ul {
  background: none;
  background: rgb(32, 32, 32);
  color: rgb(132, 131, 131);
  opacity: .9;
}
.search_container li {
  background: none;
  padding: .4em;
  cursor: pointer;
}

.list_item, .list_item__checked {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em;
}

.list_item__checked {
  color: gray;
  background: rgb(25, 25, 25);
}
.list_item__checked .list_item_name {
  text-decoration: line-through;
}
.list_item_check, .list_item_cross {
  padding: 0 .5em;
  cursor: pointer;
}
.list_item_cross {
  color: red;
}